@import url(https://fonts.google.com/specimen/Outfit);
:root {
    --white: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
}

body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 100vw;
    height: 100vh;
    background-color: var(--LightGray);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenido {
    flex-basis: 290px;
    padding: 1rem;
    border-radius: 1.8em;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido img {
    width: 290px;
    border-radius: 0.8em;
}

.contenido h2 {
    color: var(--DarkBlue);
    font-weight: 700;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.contenido p {
    color: var(--GrayishBlue);
    font-weight: 400;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}